    html {
      background: url("https://picsum.photos/1200/1000/?blur=2") no-repeat center center fixed;
      background-size: cover;
    }

    body {
      background: none;
      min-height: 100vh;
    }

    .w3-container {
      text-align: center;
    }

    input {
      margin: 20px 0;
    }

    #previsionTiempo {
      margin-top: 30px;
    }

    h1, label {
      color: white;
      font-weight: 800;
      -webkit-text-stroke: 1px black;
    }

    label {
      font-size: 20px;
    }

    fieldset {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }

    input {
      width: 50vh;
    }